@page
@model Mindlift.Pages.Videos.IndexModel

@{
    ViewData["Title"] = "Top YouTube Videos";
}


<link rel="stylesheet" href="~/css/Videos.css" />

<div class="container video-container">
    <h2 class="text-center page-title">Top Self-Help Videos</h2>

    <!-- Search Form -->
    <div class="text-center mb-4">
        <form method="get" class="d-flex justify-content-center">
            <div class="input-group w-75">
                <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Enter a topic" value="@Request.Query["searchQuery"]" aria-label="Search for Videos" aria-describedby="searchButton">
                <button type="submit" class="btn btn-search" id="searchButton"><i class="fas fa-search"></i> Search</button>
            </div>
        </form>
    </div>

    
    <div class="row mt-3">
        @if (Model.ExternalVideos != null && Model.ExternalVideos.Any())
        {
            @foreach (var video in Model.ExternalVideos)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card video-card h-100">
                        <div class="embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/@video.VideoId?autoplay=1"
                                    allow="autoplay; encrypted-media"
                                    allowfullscreen>
                            </iframe>
                        </div>
                        <div class="card-body">
                            <h5 class="video-title" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">@video.Title</h5>
                            <p class="video-description text-muted">@video.Description</p>
                            <p class="video-channel"><strong>Channel:</strong> @video.ChannelTitle</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-info mt-4 text-center" role="alert">
                No videos found. Try a different search.
            </div>
        }
    </div>

</div>


<footer class="text-center mt-4">
    <p>&copy; 2024 Mindlift. All rights reserved.</p>
</footer>


<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


<script src="~/js/Videos.js"></script>
