@page
@model Mindlift.Pages.VideoList.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VideoContent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VideoContent.VideoId" />
            <div class="form-group">
                <label asp-for="VideoContent.VideoTitle" class="control-label"></label>
                <input asp-for="VideoContent.VideoTitle" class="form-control" />
                <span asp-validation-for="VideoContent.VideoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoContent.Url" class="control-label"></label>
                <input asp-for="VideoContent.Url" class="form-control" />
                <span asp-validation-for="VideoContent.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoContent.Duration" class="control-label"></label>
                <input asp-for="VideoContent.Duration" class="form-control" />
                <span asp-validation-for="VideoContent.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoContent.Tags" class="control-label"></label>
                <input asp-for="VideoContent.Tags" class="form-control" />
                <span asp-validation-for="VideoContent.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
