@page
@model Mindlift.Pages.Forums.EditModel

@{
    ViewData["Title"] = "Edit Forum";
}

<h2>Edit Forum</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Forum.Id" />
            <div class="form-group">
                <label asp-for="Forum.Title" class="control-label"></label>
                <input asp-for="Forum.Title" class="form-control" />
                <span asp-validation-for="Forum.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Forum.Description" class="control-label"></label>
                <input asp-for="Forum.Description" class="form-control" />
                <span asp-validation-for="Forum.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Forum.Created" class="control-label"></label>
                <input asp-for="Forum.Created" class="form-control" />
                <span asp-validation-for="Forum.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
